<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="LayoutPadrao.html">

<head>
	<title>Tabela</title>
</head>

<section layout:fragment="content">
	<div class="card">
		<div class="card-header">
			<div class="clearfix">
				<label>Listagem de Eventos</label>
				<a class="btn btn-link link-card" href="/medicos/novo">Novo Medico</a>
			</div>
		</div>
		<div class="card-body">
						
			<form method="get" class="form-horizontal" action="/medicos" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Qual médico está procurando? " autofocus="autofocus" th:field="*{nome}"></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="bi bi-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				
			</form>
			
			
			<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">E-mail</th>
						<th scope="col">telefone</th>
						<th scope="col">crm</th>
						<th scope="col">Especialidade</th>
						<th scope="col">Ativo</th>
						<th scope="col">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${list} ">
						<td th:text="${item.id}"></td>
						<td th:text="${item.nome}"></td>
						<td th:text="${item.email}"></td>
						<td th:text="${item.telefone}"></td>
						<td th:text="${item.crm}"></td>
						<td th:text="${item.especialidade.descricao}"></td>
						<td th:text="${item.ativo}"></td>
						<td>
							<a class="btn btn-link btn-xs" th:href="@{/medicos/{id}(id=${item.id})}" >
								<span><i class="bi bi-pencil"></i></span>
							</a>
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#exampleModal" th:attr="data-id=${item.id}, data-nome=${item.nome}">
								<span><i class="bi bi-trash"></i></i></span>
							</a>
						</td>
						<td colspan="8" th:if="${#lists.isEmpty(list)}">Nenhum registro foi encontrado!</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		
		<div th:insert="DialogoConfirmacaoExclusao.html"></div>
		

	</div>
	
	
</section>